@tailwind base;
@tailwind components;
@tailwind utilities;

body, html, .__next {
  height: 100%;
  background-color: black;
  color: #fff;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@keyframes pulsate {
  100% {
    /* Larger blur radius */
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #f09,
      0 0 80px #f09,
      0 0 90px #f09,
      0 0 100px #f09,
      0 0 150px #f09;
  }
 0% {
    /* A slightly smaller blur radius */
    text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 18px #fff,
      0 0 38px #f09,
      0 0 73px #f09,
      0 0 80px #f09,
      0 0 94px #f09,
      0 0 140px #f09;
  }
}

.neon-card {
  border: 0.1rem solid #fff;
  border-radius: 1.5rem;
  padding: 0.4em;
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 0.5rem #f09,
              0 0 1rem #f09,
              0 0 1.2rem #f09,
              inset 0 0 1.3rem #f09;    
}

.neon-text {
    font-size: 6rem;
    font-family: Lato;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #f09,
        0 0 90px #f09,
        0 0 100px #f09,
        0 0 120px #f09,
        0 0 200px #f09;
    animation: pulsate 0.11s ease-in-out infinite alternate;  
}

